html{
    margin: 0%;
}

body{
    color: #12372A;
    text-align: center;
    margin: 0%;
}

.top-container{
    display: flex;
    flex-direction: column;
    background-color: #adbc9f;
    position: relative;
    box-shadow: 0 8px 12px 8px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    font-family: "Fragment Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    color: #EEF0E5;
    letter-spacing: 20px;
    
}

.top-container h2{
    font-family: "Benne", serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 3rem;
    color:#EEF0E5;
}

img{
    width: 100%;
    height: 750px;
}

#heading{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.middle-container{
    background-color: #fcfdf6;
    margin: 0%;
    padding: 3%;
    text-align: left;
    display: flex;
    justify-content: space-around;
    align-items:center;
    align-content: space-between;
}

.intro-text h3{
    font-family: "Fragment Mono", monospace;
    font-weight:bolder;
    font-style: normal;
    margin: 0%;
    font-size: 3rem;
}

.intro-text p{
    font-family: "Benne", serif;
    font-weight: 500;
    font-style: normal; 
    font-size: 1.25rem;
}

.intro-text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 35%;
}

.resume-card{
    width: 35%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-card>p{
    font-family: "Benne", serif;
    font-weight: 500;
    font-style: normal; 
    font-style: italic;
}

.hidden{
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:10px;
}

.prev{
    width: 608px;
    height: 600px;
    object-position: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius:10px;
    font-size: .85rem;
}

.prev img{
    height: 110px;
    width: 100px;
    object-fit: cover;
    object-position: 0% 40%;
}

.last-container{
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: #fcfdf6;
}

.last-container h3{
    font-family: "Fragment Mono", monospace;
    font-weight: bolder;
    font-style: normal;
    font-size: 3rem;
}

.project-gallery{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 500px 500px;
    gap: 50px;
}

.project-card{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-card img{
    object-fit:cover ;
    height: 80%;
    width: 95%;
    background-color: #12372A;
    border-radius: 8px;
}

.project-card a:link,a:visited{
    color: #12372A;
    font-family: "Benne", serif;
    font-weight: normal;
    font-style: normal; 
    font-size: 1.25rem;
    border-top: rgb(212, 212, 212) solid 1px;
    width: 100%;
    text-decoration: none;
}

#portfolio{
    object-position: 0% 0%;
}

#resume{
    object-position: 0% 0%;
}

#tindog{
    object-position: 40% 0%;
}

.container-about{
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: #fcfdf6;
}

.about-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.about-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 2%;
}

.container-about h3{
    font-family: "Fragment Mono", monospace;
    font-weight: bolder;
    font-style: normal;
    font-size: 3rem;
}

.about-card p{
    width:60%;
    font-family: "Benne", serif;
    font-weight: normal;
    font-style: normal; 
    font-size: 1.25rem;
}

.about-card img{
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.contact-me{
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: #fcfdf6;
    justify-content:space-evenly ;
    align-items: center;
}

.contact-me h3{
    font-family: "Fragment Mono", monospace;
    font-weight: bolder;
    font-style: normal;
    font-size: 3rem;
}

.contact-me p{
    font-family: "Benne", serif;
    font-weight: normal;
    font-style: normal; 
    font-size: 1.25rem;
}

.contact-me a{
    margin: 2%;
    background-color: #12372A;
    width: 200px;
    font-family: "Benne", serif;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    border-radius: 10px;
    color: #EEF0E5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-end ;
    background-color: #12372A;
    margin: 0%;
    color: #fcfdf6;
    text-align: center;
    height: 100px;
}

@media (max-width: 1250px) {
    .about-gallery{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .project-gallery{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 50px;
    }

    .middle-container{
        background-color: #fcfdf6;
        margin: 0%;
        padding: 5%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .intro-text{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 50%;
    }
    
    .resume-card{
        width: 400px;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}